<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: "@article" %> <!-- Get the partial errors form, send obj variable to be used in form -->
      <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-gradient rounded", id: "new-form-color", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label text-light label-responsive" %>
          <div class="col-10 form-responsive">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
          </div>
        </div>

        <div class="form-group row mt-3">
          <%= f.label :description, class: "col-2 col-form-label text-light label-responsive" %>
          <div class="col-10 form-responsive">
            <%= f.text_area :description, rows: 13, class: "form-control shadow rounded", placeholder: "Description of article" %> <!-- Take up 13 rows -->
          </div>
        </div>

        <div class="form-group row justify-content-center mt-3 mb-4 ">
          <%= f.submit class: "btn btn-outline-light shadow-none btn-lg col-md-auto" %> <!-- IMPORTANT, no comma needed between submit and class! -->
        </div>
      <% end %>
    </div>

    <div class="col-md-3 text-center mb-3">
      <%= link_to '[ Cancel and return to articles listing ]', articles_path, id: "new-form-color-cancel" %>
    </div>
  </div>

</div>