<h1>Articles listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th> <!-- The colspan="3" makes the Actions name of the column span three columns, because we'll have Show, Edit, and Delete in this column, which we want to be together, without awkward spacing. This fixes awkward spacing.-->
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article|  %>
      <tr>
        <%
        title = article.title
        title = "#{title[0...27]}..." if title.length > 30
        %>
        <td><%= title %></td>
        <%
        description = article.description
        description = "#{description[0...57]}..." if description.length > 60
        %>
        <td><%= description %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article), method: :delete %></td> <!-- link_to 'Delete' just makes a word Delete that is clickable. article_path is the path to the article (article) given inside from the each loop, so each article listed has this. The method: :delete identifies to not go to the article through the article_path, but to get the article ID from the article_path and send it to the destroy action in the articles_controller. -->
      </tr>
    <% end %>
    <tr>
      <td><%= link_to 'Create New Article', new_article_path %></td>
    </tr>
  </tbody>
</table>