<div class="container text-center mt-4 mb-4 pt-4 pb-4 col-md-8 bg-dark rounded text-light">

  <h1><%= link_to "About", about_path, class: "about-no-outline text-white" %></h1>
  <h2 id="about-line"></h2> <!-- This is a line underneath About -->
  <h5>This website was created in:</h5>
  <div class="container adjusted-spacing">
    <p>Ruby</p>
    <p>Rails version 6.1.4</p>
    <p>Bootstrap 5.0.2</p>
    <p>CSS</p>

    <div class="container mt-4 text-start">
      <p class="p-about-indent">This was a good learning experience, which followed along with lessons from <%= link_to "The Complete Ruby on Rails Developer Course", "https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course", class: "about-no-outline" %> on <%= link_to "Udemy", "https://www.udemy.com", class: "about-no-outline" %></p>
      <p class="p-about-indent mt-2">I learned about how to develop the back-end of a website, which meant laying the foundation for the website, creating basic models and views, and developed an understanding of controllers as well. Controllers are used for sending specific information, like models, to specific places. When no information is being sent, they merely exist just to send the correct view, or page, to the user. The routes Ruby file is used for all the different places that can be visited, such as the <%= link_to "Home page", root_path, class: "about-no-outline" %>, this <%= link_to "About page", about_path, class: "about-no-outline" %>, the <%= link_to "Articles page", articles_path, class: "about-no-outline" %>, along with all the article pages as well. The routes Ruby file defines what can be reached, and thereby presented to the user. The back-end is the backbone of the website. It connects everything together and makes it all work.</p>
      <p class="p-about-indent mt-2">I learned about how to create the front-end of a website as well, which meant fiddling around with looks and small portions of each page until things look and respond correctly. It meant adjusting some things even by mere pixels until everything was perfect. Without any of this, the website would be plain and boring; easy to skip over.</p>
      <p class="p-about-indent mt-2">I also learned about embedded Ruby, which are files like this one! This file is not a simple HTML file, this is a <span class="about-purple">.html.erb</span> file, which means it is HTML with embedded Ruby, which means that Ruby can be used in this HTML file! I think this is really useful and fun to use!</p>
      <p class="p-about-indent mt-2">Not only did this project help me learn how to code and put everything together, it also helped me learn about <%= link_to "Github", "https://www.github.com", class: "about-no-outline" %>, <%= link_to "Heroku", "https://www.heroku.com", class: "about-no-outline" %>, <%= link_to "Bootstrap", "https://getbootstrap.com", class: "about-no-outline" %>, the terminal (or Powershell), the Rails console, and how to search for documentation. I didn't know about how to use <%= link_to "Github", "https://www.github.com", class: "about-no-outline" %> going into this, but I learned plenty about it on the way. I ended up learning how to roll back to an older version when I used a command in the terminal that installed unnecessary things to the project</p>
      <p class="p-about-indent mt-2">I thoroughly enjoyed this project and created this simple <%= link_to "About page", about_path, class: "about-no-outline" %> fully from scratch. There's not a lot in this page, but it helped me to further practice some of what I've learned. I know there's a ton more to learn, but I think this has really helped me to scratch the surface and get a strong foundation.</p>
      <p class="text-center mt-4">Creating this was a great learning experience. Thank you for your time,</p>
      <p class="text-center mt-2"><%= link_to "Tristan Lee", "https://www.facebook.com/tristan.lee.1804", class: "text-white", id: "link-tristan" %></p>
    </div>
  </div>


</div>